@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");
body{
    background-color: #088740;
}

.twenty-five{
    height: 25vh; 
}
.thirty{
    height: 29vh; 
}
.fifty{
    background-size: cover;
    height: 57vh; 
}
.ten{
    background-color: #088740;
    background-size: cover;
    height: 10vh; 
}
.five{
    background-size: cover;
    height: 5vh; 
}
.fifteen{
    background-size: cover;
    height: 15vh; 
}
.onehundred{
    background-size: cover;
    height: 100vh; 
}
img[alt='where'] {
  /*border: 5px solid #F5EEDC;*/
  width: 280px ;
  height: 280px;
}
h2{
    text-align:center;
    color: white;   
}

h5{
    font-size: 17px;
}

.center{
    text-align:center;
    line-height:100px;
}
a{
    color: white;
    text-decoration:none;
} 
.side-menu{
    overflow-y:auto;
}
.side-menu-x{
    overflow-x:auto;
}
a:hover
{
    color: white;
}
nav li {
    display: block;
    /* padding: 30px; */
    margin-bottom: 2rem;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
}
.scrollbar::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #088740;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: #35589A;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #A6CF98;
}
.card 
{
    display:inline-block;
    padding: 5px;
    margin: 8px;
}

.food-detail-card{
    width: 97%;
    height: 65vh;
    display: none;
}

#combo-detail-card{
    width: 97%;
    height: 65vh;
    overflow-y: scroll;
    display: none;
}
.singal-food-card-image{
    width: 150px;
    height: 150px;
    margin-left: 70px;
}

.scrollbar2::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: #088740;
}

.scrollbar2::-webkit-scrollbar
{
    width: 12px;
    background-color: #7CD1B8;
}

.scrollbar2::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #7CD1B8;
}

.food-type-photo{
    width:10rem;
    height:10rem;
}

.singal-food-card{
    width: 200px;
    height: 330px;
    width:20rem;
    margin-top:20px;
}

#single-food-row{
    height: 250px;
    overflow-y: scroll;
}

.number-icon{
    margin-top: 25px;
    height: 100px;
    width: 100px;
}

.combo-food-img{
    height: 150px;
    width: 150px;
}

.combo-word-vertical-center{
    margin-top: 65px;
}
h1{
    color: white;
}