@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
body{
    background-color: #088740;
}

.twenty-five{
    height: 25vh; 
}
.fifty{
    background-size: cover;
    height: 50vh; 
}
.ten{
    background-size: cover;
    height: 10vh; 
}
.sixty{
    background-size: cover;
    height: 65vh;
}
.fifteen{
    background-size: cover;
    height: 15vh; 
}
img[alt='where'] {
  /*border: 5px solid #F5EEDC;*/
  width: 280px ;
  height: 280px;
}
h2{
    text-align:center;
    color: white;   
}
.center{
    text-align:center;
    line-height:100px;
}
.side-menu{
    overflow-y:auto;
}
.card 
{
    display:inline-block;
}
/*h1{
    color: white;
}
.right{
    text-align:right;
}
.left{
    text-align:left;
}*/