body{
    background-color: #088740;
}
.payment-form{
    background-color: #088740;
    padding: 20px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.word-center{
    margin: auto;
}